* {
    margin: 0;
    padding: 0;
}

:root {
    --vwidth: 800px;
}

@media screen and (min-width: 320px)and (max-width: 750px) {
     :root {
        --vwidth: 330px;
    }
    .head-box {
        border-left: none !important;
    }
    .default-box {
        margin: 0 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.gh-btn:focus,
.gh-btn:hover {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), to(#ddd));
    background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
    border-color: #ccc;
}

.gh-btn {
    border: 1px solid #d5d5d5;
    padding: 2px 5px 2px 4px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
    width: 60px;
    margin-right: 7px;
}

.gh-btn img {
    width: 16px;
    height: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ebecf0;
    color: #000;
    position: relative;
}

.item h4::before {
    content: 'â—';
    color: #0073ff;
}

.item div {
    text-indent: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer {
    width: 100%;
    height: 400px;
    text-align: center;
}

@keyframes fadein {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.neumo {
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
    box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.mes {
    display: none;
    background-color: #fafafa;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 299px;
    top: 400px;
    z-index: 5000;
    justify-content: center;
    align-items: center;
}

.mes img {
    width: 90px;
    height: 90px;
}

.mes::before {
    content: "";
    width: 0;
    height: 0;
    left: 9px;
    bottom: 100%;
    position: absolute;
    border: 13px solid transparent;
    border-bottom: 26px solid #fafafa;
}

h2 {
    display: block;
    width: var(--vwidth);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2:nth-of-type(1) {
    margin-top: 90px;
}

h2::before {
    content: '#';
    color: #0073ff;
}

h2>img {
    border: 2px #333 solid;
    margin-left: 7px;
}

h2>img:hover {
    border: 2px #999 solid;
    margin-left: 7px;
}


/*bug*/

input {
    outline: none;
}

button,
textarea,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 70px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 white;
    width: 300px;
}

.bug>form {
    text-indent: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.bug>form>div>span {
    width: 60px;
    display: inline-block;
    height: 16px;
}

.mail {
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    margin-left: 0px;
    width: 60%;
}

.bug>form>div {
    width: 100%;
}

.bug>form>div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bug>form>div>textarea {
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    margin-top: 50px;
    border-radius: 10px;
    width: 80%;
}

.bug>form>button {
    margin-top: 50px;
}

.bug>form>div>input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}

.bug>form>button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.bug>form>button:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}

.bug>form>button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}


/*three*/

.default-box {
    box-sizing: border-box;
    height: auto;
    width: var(--vwidth);
    margin: 10px auto;
    margin-top: 40px;
    text-indent: 2em;
    opacity: 0;
    transform: scale(0);
    animation: fadein .3s ease-in-out forwards;
}

.item {
    margin-bottom: 50px;
    padding: 20px;
}


/*first*/

.first {
    width: var(--vwidth);
    min-height: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.first table {
    z-index: -100;
    width: 400px;
}

h1 {
    color: #aabbbb;
    text-shadow: 2px 2px 2px #fff;
}

.first table a::before {
    content: '#';
    color: #0073ff;
}

td {
    text-align: center;
}

.first table tbody tr:nth-child(2n) {
    background-color: #dfdfdf;
}

.first table tbody tr:hover {
    background-color: #dfdfdf;
}

.i {
    width: 200px;
    transform: rotate(10deg);
    height: 200px;
    border-radius: 5px;
    border: 6px solid transparent;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.i>img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-bottom: 0px;
}

.i>a {
    width: 100%;
    height: 20px;
    color: #0073ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

@keyframes route-ball {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.head-box {
    width: 370px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 20px solid #ddd;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 200px;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    border-radius: 10px;
    z-index: 100;
    margin-bottom: 20px;
}

.btn {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: rgba(42, 52, 84, 1);
    text-decoration: none;
}

.btn:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255, 255, 255, .5), inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


/* header */

header {
    width: var(--vwidth);
    height: 48px;
    display: flex;
    margin: 0 auto;
    top: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.1s;
    left: 50%;
    margin-left: calc(var(--vwidth)/2*-1);
    z-index: 100;
}

.ham-box {
    width: 85px;
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 3px;
    position: relative;
}

.col {
    position: relative;
    right: 10px;
    width: 30px;
    top: 10px;
    margin-left: 10px;
    align-self: center;
    height: 30px;
}

.col>span {
    width: 30px;
    height: 4px;
    background-color: #000;
    display: block;
    position: relative;
    top: 0px;
    transform: rotate(0deg);
    border-radius: 6px;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
}

.col>span:nth-child(1) {
    margin-top: 5px;
}

.col>span:nth-child(2) {
    margin-top: 5px;
}

#ham-col:checked+label .col span:nth-child(1) {
    transition: transform .3s ease-in-out .3s, top .3s ease-in-out;
    top: 4px;
    transform: rotate(45deg);
}

#ham-col:checked+label .col span:nth-child(2) {
    top: -4px;
    transition: transform .3s ease-in-out .3s, top .3s ease-in-out;
    transform: rotate(-45deg);
}

#ham-col {
    display: none;
}

.ham-box>ul {
    position: absolute;
    top: 68px;
    left: 30px;
    width: 300px;
    height: auto;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    border-radius: 5px;
    background-color: #fafafa;
}

.ham-box>ul::before {
    content: "";
    width: 0;
    height: 0;
    left: 9px;
    bottom: 100%;
    position: absolute;
    border: 13px solid transparent;
    border-bottom: 26px solid #fafafa;
}

.ham-box>ul>a>label {
    display: inline-block;
    width: 70%;
    height: 100%;
}

.ham-box>ul>a {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    color: #000;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.ham-box>ul>a:last-child {
    border: none;
}

.ham-box>ul>a::before {
    content: '#';
    color: #0073ff;
}

.ham-box>ul>a:hover {
    background-color: #dfdfdf;
}

#ham-col:checked~ul {
    transform: scaleY(1);
    opacity: 1;
}

.with-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
}

.with-me>a>img {
    width: 24px;
    height: 24px;
}