body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #eee;
}

* {
    margin: 0;
    padding: 0;
}

.large {
    width: 100%;
    min-height: 90vh;
    display: flex;
    background-color: rgba(40, 44, 52);
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 320px)and (max-width: 750px) {
    .large {
        width: 100%;
        min-height: 90vh;
        display: flex;
        background-color: rgba(40, 44, 52);
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ani-box {
        transform: scale(.7);
        position: relative;
        left: -20px !important;
    }
    h2 {
        font-size: 16px;
    }
    .box-1 {
        margin-top: 56px;
    }
    .clo-next {
        left: 50% !important;
        margin-left: -130px;
    }
}

.large>div {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    cursor: pointer;
}

.ani-box {
    width: 320px;
    height: 400px;
    position: relative;
    left: 0;
}

.box-1 {
    width: 320px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center !important;
    animation: fadein .3s ease-in-out;
}

.box-1>ul>li {
    margin-top: 20px;
}

.box-2 {
    width: 320px;
}

.clo-next {
    width: 260px;
    height: 48px;
    font-size: 24px;
    color: white;
    background-color: #94e5fc;
    position: absolute;
    bottom: 10%;
    left: 20%;
    line-height: 48px;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 40px;
}

.gh {
    position: relative;
    bottom: 10%;
    left: 50%;
    width: 300px;
    height: 50px;
    display: flex;
    margin-left: -150px;
    justify-content: center;
    align-items: center;
}

.gh-btn {
    background-color: #eee;
    height: 24px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80px;
    margin-left: 5px;
    border-radius: 4px;
}

.gh-btn img {
    width: 24px;
    height: 24px;
}

.circy {
    width: 360px;
    border: #94e5fc solid 1px;
    height: 240px;
    position: relative;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
}

.mid {
    z-index: 400;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #94e5fc;
    left: 50%;
    top: 30%;
}

.circy>div {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 10px);
    width: 10px;
    height: 10px;
    animation: offset 2s linear infinite;
}

@keyframes offset {
    0%,
    100% {
        transform: translate(60px, 0px);
    }
    25%,
    75% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-60px, 0px);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg) translate(120px);
    }
    100% {
        transform: rotate(-360deg) translate(120px);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg) translate(120px);
    }
    100% {
        transform: rotate(360deg) translate(120px);
    }
}

.circy>div>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #61dafb;
    animation: rotate1 2s linear infinite;
    animation-direction: normal;
}

.circy:nth-child(2)>div>span {
    animation: rotate2 2s linear infinite;
}

.circy:nth-child(3)>div>span {
    animation: rotate1 2s linear infinite;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    background-color: #26a69a;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    width: 106px;
    height: 32px;
}

.col-box {
    width: 85px;
    height: 100%;
    color: white;
    line-height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 3px;
}

.col {
    position: relative;
    right: 10px;
    width: 30px;
    top: 10px;
    margin-left: 10px;
    align-self: center;
    height: 30px;
}

.col>span {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    position: relative;
    top: 0px;
    transform: rotate(0deg);
    border-radius: 2px;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
}

.col>span:nth-child(1) {
    margin-top: 7px;
}

.col>span:nth-child(2) {
    margin-top: 7px;
}

#col:checked+label .col span:nth-child(1) {
    transition: transform .3s ease-in-out .3s, top .3s ease-in-out;
    top: 4px;
    transform: rotate(45deg);
}

#col:checked+label .col span:nth-child(2) {
    top: -4px;
    transition: transform .3s ease-in-out .3s, top .3s ease-in-out;
    transform: rotate(-45deg);
}

#col {
    display: none;
}

.col-box>ul {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    min-height: 200px;
    max-height: 90vh;
    overflow: hidden;
    background-color: black;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: top;
}

#col:checked~ul {
    transform: scaleY(1);
    opacity: 0.81;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.list {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-flow: wrap;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 1px #ccc;
    animation: fadein .3s ease-in-out;
    opacity: 0;
    transform: scale(0);
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
}


.card>span {
    width: 100%;
    position: absolute;
    font-size: 20px;
    height: 24%;
    bottom: 0;
    right: 0;
    letter-spacing: 5px;
    transition: .3s all ease-in-out;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
}

.card>span:hover {
    background: rgba(0, 0, 0, .4);
}

.edit {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    right: 3px;
}


.card>span a:nth-child(2) {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.card>span a:nth-child(1) {
    right: 39px;
}

.card>iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes fadein {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.card-box {
    width: 360px;
    height: 300px;
    margin: 15px;
    margin: 20px;
}

.bot-col {
    width: 50px;
    height: 100px;
    position: fixed;
    bottom: 9px;
    right: 6px;
    opacity: 0;
    animation: fadein .3s ease-in-out;
    animation-fill-mode: forwards;
    transform: scale(0);
    background-color: #26a69a;
}

.bot-col label .btn {
    display: inline-block;
    height: 48px;
    border-bottom: white solid 2px;
}

.bot-col a {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.sear {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sear>input {
    width: 200px;
    background-color: #000;
    border: 0;
    color: #fff;
    height: 32px;
    border-radius: 8px;
    border: solid 1px #26a69a;
}

.sear>span {
    width: 32px;
    border-radius: 6px;
    height: 32px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    background-color: #26a69a;
}

.sear>span:hover {
    background-color: #3cb8ab;
}

.sear>span>svg {
    width: 32px;
    height: 32px;
}

input {
    outline: none;
}